<h1><%= @room.name %></h1>

<%= form_for [@room, Message.new], :remote => true do |f| %>
  <p>
    <%= f.text_field :content %>
    <%= f.submit %>
  </p>
<% end %>

<ul id="messages">
  <% @messages.each do |m| %>
  <li>
    <%= m.content %>
    at <%= m.created_at.to_s %>
  </li>
  <% end %>
</ul>

<script>

subscribe_room( <%= @room.id %> );

</script>
