<h1><%= @room.name %></h1>

<%= form_for [@room, Message.new], :remote => true do |f| %>
  <p>
    <%= f.text_field :content %>
    <%= f.submit %>
  </p>
<% end %>

<ul id="messages">
  <%= render :partial => "messages/message", :collection => @messages, :as => :message %>
</ul>

<script>

subscribe_room( <%= @room.id %> );

</script>
