<p>Total Qty: <%= current_cart.total_qty %></p>
<p>Total amount: <%= current_cart.amount %></p>
<ul>
<% current_cart.line_items.each do |item| %>
    <li>
      <%= item.product.name %>
      數量 <%= item.qty %>
      單價 <%= item.product.price %>
      總價 <%= item.product.price * item.qty %>

      <%= link_to "[x]", remove_product_cart_path( :product_id => item.product), :method => :post %>
    </li>
<% end %>
</ul>

<hr>

<% @products.each do |p| %>
<div class="product">
  <%= link_to image_tag(p.image_url), product_path(p) %>
  <p>
    <%= link_to p.name, product_path(p) %><br>
    $<%= p.price %>

    <%= link_to "Buy!", add_product_cart_path( :product_id => p), :class => "btn btn-danger", :method => :post %>
  </p>
</div>
<% end %>

<div class="clearfix"></div>

<%= paginate @products %>
