<p>Total Qty:
  <span id="cart-qty">
    <%= current_cart.total_qty %>
  </span>
</p>

<%= link_to "結帳", new_order_path, :class => "btn btn-primary" %>
<%= link_to "訂單紀錄", orders_path, :class => "btn btn-default" %>
<hr>

<% @products.each do |p| %>
<div class="product">
  <%= link_to image_tag(p.image_url), product_path(p) %>
  <p>
    <%= link_to p.name, product_path(p) %><br>
    $<%= p.price %>

    <%= link_to "Buy!", add_product_cart_path( :product_id => p), :remote => true, :class => "btn btn-danger", :method => :post %>
  </p>
</div>
<% end %>

<div class="clearfix"></div>

<%= paginate @products %>


<%= content_for :sidebar do %>

  <p>This is index sidebar</p>

<% end %>
