<!DOCTYPE html>
<html>
  <head>
    <title>RailsExercise</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
    <%= javascript_pack_tag 'app' %>
    <%= javascript_pack_tag 'hello_react' %>
    <%= yield :meta %>
  </head>

  <body>
    <div class="container">

      <h1><%= link_to "ALPHACamp #12 購物商城", root_path %></h1>

      <% if flash[:notice] %>
        <div class="alert alert-success" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:alert] %>
        <div class="alert alert-danger" role="alert">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <% if current_user %>
          <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
          <%= link_to('修改密碼', edit_registration_path(:user)) %>
        <% else %>
          <%= link_to('註冊', new_registration_path(:user)) %> |
          <%= link_to('登入', new_session_path(:user)) %>
        <% end %>

      <div class="main-content">
        <%= yield %>
      </div>

      <div class="sidebar">
        <%= yield :sidebar %>
      </div>

    </div>
  </body>
</html>
